/*
* Rachel Simpson
* 11 December 2017
* This is the CSS file for my endangered species page.
*/


/* The universal selector */

* {
	margin: 0;
	padding: 0;
}

/* Put body attributes here */
/*this is for my background color and size of the page*/
body { 
	width: 960px;
	margin: auto;
	background: #ACE8F8;
}
/* .block is for the five photos that I have in the middle of the page to tell my webpage what size I want the photos*/
.block {
	height: 170px;
	width: 170px;
	margin: 3px;
	}
/* .top is the photo of the snow leopard on the top of the page*/
.imgtop {
	height: 250px;
	width: 190px;
	float: left;
	margin: 15px;
	}
.stop {
	clear: left;
	}
/* .imgbottom is for the map of asia this tells the page what size and gives my picture a border*/
.imgbottom {
	height: 160px;
	width: 180px;
	float: right;
	margin: 5px;
	border: 1px solid black;
	}
/* This is for my header, this is how I have a line going across my page to separate my information from my header*/
header {
	border-bottom: 2px solid black;
	text-align: center;
	}
h1 {
	margin-top: 15px;
	margin-bottom: 25px;
	}
h2 {
	margin-top: 10px;
	margin-bottom: 15px;
	}
footer {
	border-top: 2px solid black;
	margin-top: 15px;
	margin-bottom: 15px;
	}
	
	
	
	